# Processing data with pandas

```{attention}
Finnish university students are encouraged to use the CSC Notebooks platform.<br/>
<a href="https://notebooks.csc.fi/"><img alt="CSC badge" src="https://img.shields.io/badge/launch-CSC%20notebook-blue.svg" style="vertical-align:text-bottom"></a>

Others can follow the lesson and fill in their student notebooks using Binder.<br/>
<a href="https://mybinder.org/v2/gh/geo-python/notebooks/master?urlpath=lab/tree/L5/processing-data-with-pandas.ipynb"><img alt="Binder badge" src="https://img.shields.io/badge/launch-binder-red.svg" style="vertical-align:text-bottom"></a>
```

During the first part of this lesson you learned the basics of pandas data structures (*Series* and *DataFrame*) and got familiar with basic methods loading and exploring data.
Here, we will continue with basic data manipulation and analysis methods such calculations and selections.

We are now working in a new notebook file and we need to import pandas again.

In [1]:
import pandas as pd

Let's work with the same input data `'Kumpula_Summer2024.txt'` and load it using the `pd.read_csv()` method. Remember, that the first 8 lines contain metadata so we can skip those. This time, let's store the filepath into a separate variable in order to make the code more readable and easier to change afterwards:

In [2]:
# Define file path:
fp = "Kumpula_Summer2024.txt"

# Read in the data from the file (starting at row 9):
data = pd.read_csv(fp, skiprows=8)

Remember to always check the data after reading it in:

In [3]:
data.head()

   YEARMODA   MAX   MIN  TEMP1  TEMP2
0  20240601  26.2  18.4   24.2   23.2
1  20240602  24.4  17.1   20.7   24.2
2  20240603  25.7  15.2   22.5   23.1
3  20240604  24.6  15.7   19.3   24.6
4  20240605  23.4  12.8   20.3   23.2

````{admonition} Filepaths
Note, that our input file `'Kumpula_Summer2024.txt'` is located **in the same folder** as the notebook we are running. Furthermore, the same folder is the working directory for our Python session (you can check this by running the `%pwd` magic command).
For these two reasons, we are able to pass only the filename to `.read_csv()` function and pandas is able to find the file and read it in. In fact, we are using a **relative filepath** when reading in the file.
    
The **absolute filepath** to the input data file in the CSC cloud computing environment is `/home/jovyan/my-work/notebooks/L5/Kumpula_Summer2024.txt`, and we could also use this as input when reading in the file. When working with absolute filepaths, it's good practice to pass the file paths as a [raw string](https://docs.python.org/3/reference/lexical_analysis.html#literals) using the prefix `r` in order to avoid problems with escape characters such as `"\n"`.

```python
# Define file path as a raw string:
fp = r'/home/jovyan/my-work/notebooks/L5/Kumpula_Summer2024.txt'

# Read in the data from the file (starting at row 9):
data = pd.read_csv(fp, skiprows=8)
``` 
````

## Basic calculations

One of the most common things to do in pandas is to create new columns based on calculations between different variables (columns).

We can create a new column `DIFF` in our DataFrame by specifying the name of the column and giving it some default value (in this case the decimal number `0.0`).

In [4]:
# Define a new column "DIFF"
data["DIFF"] = 0.0

# Check how the dataframe looks like:
data

    YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF
0   20240601  26.2  18.4   24.2   23.2   0.0
1   20240602  24.4  17.1   20.7   24.2   0.0
2   20240603  25.7  15.2   22.5   23.1   0.0
3   20240604  24.6  15.7   19.3   24.6   0.0
4   20240605  23.4  12.8   20.3   23.2   0.0
..       ...   ...   ...    ...    ...   ...
87  20240827  20.5  15.3   17.9   20.4   0.0
88  20240828  21.6  14.2   18.7   21.3   0.0
89  20240829  21.9   NaN   16.6   21.8   0.0
90  20240830  24.6  16.0   20.7   23.5   0.0
91  20240831   NaN  13.7   13.9   18.7   0.0

[92 rows x 6 columns]

Let's check the datatype of our new column:

In [5]:
data["DIFF"].dtypes

dtype('float64')

OK, so we see that pandas created a new column and recognized automatically that the data type is float as we passed a 0.0 value to it.

Let's update the column `DIFF` by calculating the difference between `MAX` and `MIN` columns to get an idea how much the temperatures have varied during the set of days:

In [6]:
# Calculate max min difference
data["DIFF"] = data["MAX"] - data["MIN"]

# Check the result
data.head()

   YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF
0  20240601  26.2  18.4   24.2   23.2   7.8
1  20240602  24.4  17.1   20.7   24.2   7.3
2  20240603  25.7  15.2   22.5   23.1  10.5
3  20240604  24.6  15.7   19.3   24.6   8.9
4  20240605  23.4  12.8   20.3   23.2  10.6

The calculations were stored into the `DIFF` column as planned. 

You can also create new columns on-the-fly at the same time when doing the calculation (the column does not have to exist before). Furthermore, it is possible to use any kind of math operation (e.g., subtraction, addition, multiplication, division, exponentiation, etc.) when creating new columns.

We can, for example, calculate the average values of the two reading of the day `TEMP1` and `TEMP2`. Let's do that and store it in a new column called `TEMP`.

In [7]:
# Create a new column and convert temp fahrenheit to celsius:
data["TEMP"] = (data["TEMP1"] + data["TEMP2"]) / 2

# Check output
data.head()

   YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP
0  20240601  26.2  18.4   24.2   23.2   7.8  23.70
1  20240602  24.4  17.1   20.7   24.2   7.3  22.45
2  20240603  25.7  15.2   22.5   23.1  10.5  22.80
3  20240604  24.6  15.7   19.3   24.6   8.9  21.95
4  20240605  23.4  12.8   20.3   23.2  10.6  21.75

#### Check your understanding

Calculate the temperatures in Kelvins using the Celsius values from the newly created `TEMP` column and store the result a new column called `TEMP_KELVIN` in our DataFrame.
    
As a reminder, zero Kelvins is -273.15 degrees Celsius as we learned in [Lesson 4](https://geo-python-site.readthedocs.io/en/latest/notebooks/L4/functions.html#let-s-make-another-function).

In [8]:
# Solution
data["TEMP_KELVIN"] = data["TEMP"] + 273.15
data.head()

   YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
0  20240601  26.2  18.4   24.2   23.2   7.8  23.70       296.85
1  20240602  24.4  17.1   20.7   24.2   7.3  22.45       295.60
2  20240603  25.7  15.2   22.5   23.1  10.5  22.80       295.95
3  20240604  24.6  15.7   19.3   24.6   8.9  21.95       295.10
4  20240605  23.4  12.8   20.3   23.2  10.6  21.75       294.90

## Selecting rows and columns

We often want to select only specific rows from a DataFrame for further analysis. There are multiple ways of selecting subsets of a pandas DataFrame. In this section we will go through the most useful approaches for selecting specific rows, columns and individual values.

### Selecting several rows

One common way of selecting only specific rows from your DataFrame is done via *index slicing* to extract part of the DataFrame. Slicing in pandas can be done in a similar manner as with normal Python lists (i.e., you specify the index range you want to select inside the square brackets): `dataframe[start_index:stop_index]`.

Let's select the first five rows and assign them to a variable called `selection`:

In [9]:
# Select first five rows of dataframe using row index values
selection = data[0:5]
selection

   YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
0  20240601  26.2  18.4   24.2   23.2   7.8  23.70       296.85
1  20240602  24.4  17.1   20.7   24.2   7.3  22.45       295.60
2  20240603  25.7  15.2   22.5   23.1  10.5  22.80       295.95
3  20240604  24.6  15.7   19.3   24.6   8.9  21.95       295.10
4  20240605  23.4  12.8   20.3   23.2  10.6  21.75       294.90

```{note}
Here we have selected the first five rows (index 0-4) using the integer index.
```

### Selecting several rows and columns

It is also possible to control which columns are chosen when selecting a subset of rows. In this case we will use [pandas.DataFrame.loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) which selects data based on axis labels (row labels and column labels). 

Let's select temperature values (column `TEMP`) from rows 0-5:

In [10]:
# Select temp column values on rows 0-5
selection = data.loc[0:5, "TEMP"]
selection

0    23.70
1    22.45
2    22.80
3    21.95
4    21.75
5    17.05
Name: TEMP, dtype: float64

```{note}
In this case, we get six rows of data (index 0-5)! We are now doing the selection based on axis labels instead of the integer index.
```

It is also possible to select multiple columns when using `loc`. Here, we select the `TEMP` and `TEMP_CELSIUS` columns from a set of rows by passing them inside a list (`.loc[start_index:stop_index, list_of_columns]`):

In [11]:
# Select columns temp and temp_celsius on rows 0-5
selection = data.loc[0:5, ["TEMP", "TEMP_KELVIN"]]
selection

    TEMP  TEMP_KELVIN
0  23.70       296.85
1  22.45       295.60
2  22.80       295.95
3  21.95       295.10
4  21.75       294.90
5  17.05       290.20

#### Check your understanding

Find the mean temperatures (in Celsius) for the last seven days of August. Do the selection using the row index values.

In [12]:
# Here is the solution
data.loc[86:92, "TEMP"].mean()

19.208333333333332

### Selecting a single row

You can also select an individual row from a specific position using the `.loc[]` indexing. Here we select all the data values using index 4 (the 5th row):

In [13]:
# Select one row using index
row = data.loc[4]
row

YEARMODA       20240605.00
MAX                  23.40
MIN                  12.80
TEMP1                20.30
TEMP2                23.20
DIFF                 10.60
TEMP                 21.75
TEMP_KELVIN         294.90
Name: 4, dtype: float64

``.loc[]`` indexing returns the values from that position as a ``pd.Series`` where the indices are actually the column names of those variables. Hence, you can access the value of an individual column by referring to its index using the following format (both should work):

In [14]:
# Print one attribute from the selected row
row["TEMP"]

21.75

### Selecting a single value based on row and column

Sometimes it is enough to access a single value in a DataFrame. In this case, we can use [DataFrame.at](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html#pandas-dataframe-at) instead of `Data.Frame.loc`.

Let's select the temperature (column `TEMP`) on the first row (index `0`) of our DataFrame.

In [15]:
data.at[0, "TEMP"]

23.7

### Selections by integer position (*optional*)

```{admonition} .iloc
`.loc` and `.at` are based on the *axis labels*, the names of columns and rows. Axis labels can also be something other than the "traditional" index values (e.g., `0`, `1`, ...). For example, datetime is commonly used as the row index for rows listed according to the date and time of the data.

`.iloc` is another indexing operator which is based on *integer value* indices. Using `.iloc`, it is possible to refer also to the columns based on their index value. For example,  `data.iloc[0,0]` would return `20160601` in our example DataFrame.
    
See the pandas documentation for more information about [indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-and-selecting-data).
```

For example, we could select `TEMP` and the `TEMP_CELSIUS` columns from a set of rows based on their index.

In [16]:
data.iloc[0:5:, 0:2]

   YEARMODA   MAX
0  20240601  26.2
1  20240602  24.4
2  20240603  25.7
3  20240604  24.6
4  20240605  23.4

To access the value on the first row and second column (`TEMP`), the syntax for `iloc` would be:

In [17]:
data.iloc[0, 1]

26.2

We can also access individual rows using `iloc`. Let's check out the last row of data:

In [18]:
data.iloc[-1]

YEARMODA       20240831.00
MAX                    NaN
MIN                  13.70
TEMP1                13.90
TEMP2                18.70
DIFF                   NaN
TEMP                 16.30
TEMP_KELVIN         289.45
Name: 91, dtype: float64

## Filtering and updating data

One really useful feature in pandas is the ability to easily filter and select rows based on a conditional statement.
The following example shows how to select rows when the Celsius temperature has been higher than 15 degrees and store them in the variable `warm_temps` (warm temperatures). pandas checks if the condition is `True` or `False` for each row, and returns those rows where the condition is `True`:

In [19]:
# Check the condition
data["TEMP"] > 20

0      True
1      True
2      True
3      True
4      True
      ...
87    False
88    False
89    False
90     True
91    False
Name: TEMP, Length: 92, dtype: bool

In [20]:
# Select rows with temp celsius higher than 20 degrees
warm_temps = data.loc[data["TEMP"] > 20]
warm_temps.head()

   YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
0  20240601  26.2  18.4   24.2   23.2   7.8  23.70       296.85
1  20240602  24.4  17.1   20.7   24.2   7.3  22.45       295.60
2  20240603  25.7  15.2   22.5   23.1  10.5  22.80       295.95
3  20240604  24.6  15.7   19.3   24.6   8.9  21.95       295.10
4  20240605  23.4  12.8   20.3   23.2  10.6  21.75       294.90

In [21]:
# Count the number of days in Summer 2024 with temp celsius higher than 20 degrees
print(f"Number of warm days in summer 2024 is: {len(warm_temps)}")

Number of warm days in summer 2024 is: 48

It is also possible to combine multiple criteria at the same time. Here, we select temperatures above 20 degrees that were recorded on the second half of Summer in 2024 (i.e. `YEARMODA >= 20240715`).
Combining multiple criteria can be done with the `&` operator (AND) or the `|` operator (OR). Notice, that it is often useful to separate the different clauses using parentheses `()`.

In [22]:
# Select rows with temp celsius higher than 15 degrees from late June 2016
warm_temps = data.loc[(data["TEMP"] > 20) & (data["YEARMODA"] >= 20240715)]
warm_temps

    YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
44  20240715  22.3  14.9   19.5   22.0   7.4  20.75       293.90
45  20240716  24.3  15.4   20.6   24.3   8.9  22.45       295.60
46  20240717  24.3  17.9   21.6   23.5   6.4  22.55       295.70
47  20240718  22.5  16.9   19.1   22.5   5.6  20.80       293.95
51  20240722  25.1  16.9   22.3   24.7   8.2  23.50       296.65
52  20240723   NaN  19.5   22.3   24.9   NaN  23.60       296.75
53  20240724   NaN  20.2   22.4   24.2   NaN  23.30       296.45
54  20240725  26.1  18.5   22.3   26.1   7.6  24.20       297.35
55  20240726  26.7  17.9   24.3   26.4   8.8  25.35       298.50
56  20240727  25.1   NaN   22.7   24.8   NaN  23.75       296.90
57  20240728  23.7   NaN   20.9   23.6   NaN  22.25       295.40
58  20240729  24.9   NaN   20.2   24.9   NaN  22.55       295.70
59  20240730  23.5  17.6   18.8   22.7   5.9  20.75       293.90
60  20240731  23.2  14.6   18.9   21.4   8.6  20.15       293.30
66  20240806  22.3  16.6   18.8   22.3   5.7  20.55       293.70
68  20240808  24.0  14.2   21.4   23.9   9.8  22.65       295.80
69  20240809  24.1  17.1   22.2   24.1   7.0  23.15       296.30
73  20240813  23.9  12.2   19.2   23.4  11.7  21.30       294.45
74  20240814  23.8  13.9   20.4   23.8   9.9  22.10       295.25
75  20240815  23.9  14.3   20.7   23.9   9.6  22.30       295.45
76  20240816  21.2  18.3   19.5   20.9   2.9  20.20       293.35
77  20240817  22.6  16.9   20.0   21.4   5.7  20.70       293.85
79  20240819  22.3  15.1   18.8   22.3   7.2  20.55       293.70
81  20240821  22.3  16.0   20.8   20.6   6.3  20.70       293.85
82  20240822  22.1   NaN   19.7   20.8   NaN  20.25       293.40
85  20240825  25.9  14.4   19.0   25.9  11.5  22.45       295.60
90  20240830  24.6  16.0   20.7   23.5   8.6  22.10       295.25

In [23]:
# Count the number of days in the second half of Summer 2024 with temp celsius higher than 20 degrees
print(f"Number of warm days in the second half of summer 2024 is: {len(warm_temps)}")

Number of warm days in the second half of summer 2024 is: 27

Now we have a subset of our DataFrame with only rows where the `TEMP` is above 20 and the dates in `YEARMODA` column start from the 15th of July.

Notice, that the index values (numbers on the left) are still showing the positions from the original DataFrame. It is possible to *reset* the index using the `reset_index()` function, which might be useful in some cases to be able to slice the data in a manner similar to that above. By default `reset_index()` would create a new column called `index` to keep track of the previous index, which might be useful in some cases. That is not hte case here, so we can omit that behavior by passing the parameter `drop=True`.

In [24]:
# Reset index
warm_temps = warm_temps.reset_index(drop=True)
warm_temps

    YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
0   20240715  22.3  14.9   19.5   22.0   7.4  20.75       293.90
1   20240716  24.3  15.4   20.6   24.3   8.9  22.45       295.60
2   20240717  24.3  17.9   21.6   23.5   6.4  22.55       295.70
3   20240718  22.5  16.9   19.1   22.5   5.6  20.80       293.95
4   20240722  25.1  16.9   22.3   24.7   8.2  23.50       296.65
5   20240723   NaN  19.5   22.3   24.9   NaN  23.60       296.75
6   20240724   NaN  20.2   22.4   24.2   NaN  23.30       296.45
7   20240725  26.1  18.5   22.3   26.1   7.6  24.20       297.35
8   20240726  26.7  17.9   24.3   26.4   8.8  25.35       298.50
9   20240727  25.1   NaN   22.7   24.8   NaN  23.75       296.90
10  20240728  23.7   NaN   20.9   23.6   NaN  22.25       295.40
11  20240729  24.9   NaN   20.2   24.9   NaN  22.55       295.70
12  20240730  23.5  17.6   18.8   22.7   5.9  20.75       293.90
13  20240731  23.2  14.6   18.9   21.4   8.6  20.15       293.30
14  20240806  22.3  16.6   18.8   22.3   5.7  20.55       293.70
15  20240808  24.0  14.2   21.4   23.9   9.8  22.65       295.80
16  20240809  24.1  17.1   22.2   24.1   7.0  23.15       296.30
17  20240813  23.9  12.2   19.2   23.4  11.7  21.30       294.45
18  20240814  23.8  13.9   20.4   23.8   9.9  22.10       295.25
19  20240815  23.9  14.3   20.7   23.9   9.6  22.30       295.45
20  20240816  21.2  18.3   19.5   20.9   2.9  20.20       293.35
21  20240817  22.6  16.9   20.0   21.4   5.7  20.70       293.85
22  20240819  22.3  15.1   18.8   22.3   7.2  20.55       293.70
23  20240821  22.3  16.0   20.8   20.6   6.3  20.70       293.85
24  20240822  22.1   NaN   19.7   20.8   NaN  20.25       293.40
25  20240825  25.9  14.4   19.0   25.9  11.5  22.45       295.60
26  20240830  24.6  16.0   20.7   23.5   8.6  22.10       295.25

As you can see, now the index values go from 0 to 26 now.

#### Check your understanding

Find the mean temperatures (in Celsius) for the last seven days of August again. This time you should select the rows based on a condition for the `YEARMODA` column!

In [25]:
# Here's the solution
data["TEMP"].loc[data["YEARMODA"] >= 20240825].mean()

19.671428571428574

```{admonition} Deep copy
In this lesson, we have stored subsets of a DataFrame as a new variable. In some cases, we are still referring to the original data and any modifications made to the new variable might affect the original DataFrame.
    
If you want to be extra careful to not modify the original DataFrame, then you should take a *deep copy* of the data before proceeding using the `.copy()` method. You can read more about indexing, selecting data and deep and shallow copies in the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html) and in [this excellent blog post](https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-part-4-c4216f84d388).
```

## Dealing with missing data

As you may have noticed by now, we have several missing values in the temperature minimum, maximum, and difference columns (`MIN`, `MAX`, and `DIFF`). These missing values are indicated as `NaN` (not a number). Having missing data in your datafile is a common situation and typically you want to deal with it somehow. Common procedures to deal with `NaN` values are to either remove them from the DataFrame or fill them with some other value. In pandas both of these options are easy to do.

Let's first see how we can remove the NoData values (i.e., clean the data) using the [.dropna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) function. Inside the function you can pass a list of column(s) from which the `NaN` values should found using the `subset` parameter. The output will drop any row containing `NaN` values from the set of columns provided to the `subset` parameter.

In [26]:
# Drop NaN values based on the MIN column
warm_temps_clean = warm_temps.dropna(subset=["MIN"])
warm_temps_clean

    YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
0   20240715  22.3  14.9   19.5   22.0   7.4  20.75       293.90
1   20240716  24.3  15.4   20.6   24.3   8.9  22.45       295.60
2   20240717  24.3  17.9   21.6   23.5   6.4  22.55       295.70
3   20240718  22.5  16.9   19.1   22.5   5.6  20.80       293.95
4   20240722  25.1  16.9   22.3   24.7   8.2  23.50       296.65
5   20240723   NaN  19.5   22.3   24.9   NaN  23.60       296.75
6   20240724   NaN  20.2   22.4   24.2   NaN  23.30       296.45
7   20240725  26.1  18.5   22.3   26.1   7.6  24.20       297.35
8   20240726  26.7  17.9   24.3   26.4   8.8  25.35       298.50
12  20240730  23.5  17.6   18.8   22.7   5.9  20.75       293.90
13  20240731  23.2  14.6   18.9   21.4   8.6  20.15       293.30
14  20240806  22.3  16.6   18.8   22.3   5.7  20.55       293.70
15  20240808  24.0  14.2   21.4   23.9   9.8  22.65       295.80
16  20240809  24.1  17.1   22.2   24.1   7.0  23.15       296.30
17  20240813  23.9  12.2   19.2   23.4  11.7  21.30       294.45
18  20240814  23.8  13.9   20.4   23.8   9.9  22.10       295.25
19  20240815  23.9  14.3   20.7   23.9   9.6  22.30       295.45
20  20240816  21.2  18.3   19.5   20.9   2.9  20.20       293.35
21  20240817  22.6  16.9   20.0   21.4   5.7  20.70       293.85
22  20240819  22.3  15.1   18.8   22.3   7.2  20.55       293.70
23  20240821  22.3  16.0   20.8   20.6   6.3  20.70       293.85
25  20240825  25.9  14.4   19.0   25.9  11.5  22.45       295.60
26  20240830  24.6  16.0   20.7   23.5   8.6  22.10       295.25

As you can see by looking at the table above (and the change in index values), we now have a DataFrame without the NoData values in column `MIN`.

````{note}
Note that we replaced the original `warm_temps` variable with version where no data are removed. The `.dropna()` function, among other pandas functions can also be applied "inplace" which means that the function updates the DataFrame object and returns `None`:
    
```python
warm_temps.dropna(subset=['MIN'], inplace=True)
```
````

Another option is to fill the NoData with some value using the `fillna()` function. Here we can fill the missing values in the with value -9999. Note that we are not giving the `subset` parameter this time.

In [27]:
# Fill NaN values
warm_temps.fillna(-9999)

    YEARMODA     MAX     MIN  TEMP1  TEMP2    DIFF   TEMP  TEMP_KELVIN
0   20240715    22.3    14.9   19.5   22.0     7.4  20.75       293.90
1   20240716    24.3    15.4   20.6   24.3     8.9  22.45       295.60
2   20240717    24.3    17.9   21.6   23.5     6.4  22.55       295.70
3   20240718    22.5    16.9   19.1   22.5     5.6  20.80       293.95
4   20240722    25.1    16.9   22.3   24.7     8.2  23.50       296.65
5   20240723 -9999.0    19.5   22.3   24.9 -9999.0  23.60       296.75
6   20240724 -9999.0    20.2   22.4   24.2 -9999.0  23.30       296.45
7   20240725    26.1    18.5   22.3   26.1     7.6  24.20       297.35
8   20240726    26.7    17.9   24.3   26.4     8.8  25.35       298.50
9   20240727    25.1 -9999.0   22.7   24.8 -9999.0  23.75       296.90
10  20240728    23.7 -9999.0   20.9   23.6 -9999.0  22.25       295.40
11  20240729    24.9 -9999.0   20.2   24.9 -9999.0  22.55       295.70
12  20240730    23.5    17.6   18.8   22.7     5.9  20.75       293.90
13  20240731    23.2    14.6   18.9   21.4     8.6  20.15       293.30
14  20240806    22.3    16.6   18.8   22.3     5.7  20.55       293.70
15  20240808    24.0    14.2   21.4   23.9     9.8  22.65       295.80
16  20240809    24.1    17.1   22.2   24.1     7.0  23.15       296.30
17  20240813    23.9    12.2   19.2   23.4    11.7  21.30       294.45
18  20240814    23.8    13.9   20.4   23.8     9.9  22.10       295.25
19  20240815    23.9    14.3   20.7   23.9     9.6  22.30       295.45
20  20240816    21.2    18.3   19.5   20.9     2.9  20.20       293.35
21  20240817    22.6    16.9   20.0   21.4     5.7  20.70       293.85
22  20240819    22.3    15.1   18.8   22.3     7.2  20.55       293.70
23  20240821    22.3    16.0   20.8   20.6     6.3  20.70       293.85
24  20240822    22.1 -9999.0   19.7   20.8 -9999.0  20.25       293.40
25  20240825    25.9    14.4   19.0   25.9    11.5  22.45       295.60
26  20240830    24.6    16.0   20.7   23.5     8.6  22.10       295.25

As a result we now have a DataFrame where NoData values are filled with the value -9999.

```{warning}
In many cases filling the data with a specific value is dangerous because you end up modifying the actual data, which might affect the results of your analysis. For example, in the case above we would have dramatically changed the temperature difference columns because the -9999 values not an actual temperature difference! Hence, use caution when filling missing values. 
    
You might have to fill in no data values for the purposes of saving the data to file in a specific format. For example, some GIS software does not accept missing values. Always pay attention to potential no data values when reading in data files and doing further analysis!
```

## Data type conversions

There are occasions where you'll need to convert data stored within a Series to another data type, for example, from floating point to integer.

Remember, that we already did data type conversions using the [built-in Python functions](https://docs.python.org/3/library/functions.html#built-in-functions) such as `int()` or `str()`.

For values in pandas DataFrames and Series, we can use the `astype()` method.

```{admonition} Truncating versus rounding up
**Be careful with type conversions from floating point values to integers.** The conversion simply drops the stuff to the right of the decimal point, so all values are rounded down to the nearest whole number. For example, 99.99 will be truncated to 99 as an integer, when it should be rounded up to 100.

Chaining the round and type conversion functions solves this issue as the `.round(0).astype(int)` command first rounds the values with zero decimals and then converts those values into integers.
```

In [28]:
print("Original values:")
data["TEMP"].head()

Original values:

0    23.70
1    22.45
2    22.80
3    21.95
4    21.75
Name: TEMP, dtype: float64

In [29]:
print("Truncated integer values:")
data["TEMP"].astype(int).head()

Truncated integer values:

0    23
1    22
2    22
3    21
4    21
Name: TEMP, dtype: int32

In [30]:
print("Rounded integer values:")
data["TEMP"].round(0).astype(int).head()

Rounded integer values:

0    24
1    22
2    23
3    22
4    22
Name: TEMP, dtype: int32

Looks correct now.

## Unique values

Sometimes it is useful to extract the unique values that you have in your column.
We can do that by using the `unique()` method:

In [31]:
# Get unique celsius values
unique = data["TEMP"].unique()
unique

array([23.7 , 22.45, 22.8 , 21.95, 21.75, 17.05, 15.55, 14.1 , 16.45,
       16.2 , 16.9 , 17.5 , 19.1 , 20.15, 20.  , 16.45, 18.  , 20.4 ,
       19.75, 21.45, 20.1 , 23.85, 24.9 , 26.3 , 20.75, 20.6 , 19.9 ,
       21.6 , 15.4 , 18.95, 18.65, 15.05, 17.55, 19.95, 20.8 , 21.05,
       20.3 , 20.7 , 23.8 , 19.5 , 22.45, 22.55, 18.85, 19.6 , 19.85,
       23.5 , 23.6 , 23.3 , 24.2 , 25.35, 23.75, 22.25, 22.55, 19.25,
       18.05, 19.45, 20.55, 22.65, 23.15, 19.2 , 16.6 , 15.35, 21.3 ,
       22.1 , 22.3 , 20.2 , 19.05, 20.7 , 20.25, 18.45, 18.2 , 18.5 ,
       19.15, 19.2 , 16.3 ])

As a result we get an array of unique values in that column.

```{note}
Sometimes if you have a long list of unique values, you don't necessarily see all the unique values directly as IPython/Jupyter may hide them with an ellipsis `...`. It is, however, possible to see all those values by printing them as a list. 

list(unique)

```

How many days with unique mean temperature did we have in June 2016? We can check that!

In [32]:
# Number of unique values
unique_temps = len(unique)
print(f"There were {unique_temps} days with unique mean temperatures in Summer 2024.")

There were 75 days with unique mean temperatures in Summer 2024.

## Sorting data

Quite often it is useful to be able to sort your data (descending/ascending) based on values in some column
This can be easily done with pandas using the `sort_values(by='YourColumnName')` function.

Let's first sort the values on ascending order based on the `TEMP` column:

In [33]:
# Sort DataFrame by temperature, ascending
data.sort_values(by="TEMP")

    YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
8   20240609  15.5  11.3   12.8   15.4   4.2  14.10       287.25
35  20240706  19.0  11.3   11.4   18.7   7.7  15.05       288.20
72  20240812  17.4  12.7   14.7   16.0   4.7  15.35       288.50
32  20240703  17.4  13.1   14.2   16.6   4.3  15.40       288.55
7   20240608  17.6   8.9   14.1   17.0   8.7  15.55       288.70
..       ...   ...   ...    ...    ...   ...    ...          ...
25  20240626  25.7  15.9   22.2   25.5   9.8  23.85       297.00
54  20240725  26.1  18.5   22.3   26.1   7.6  24.20       297.35
26  20240627   NaN  15.3   22.9   26.9   NaN  24.90       298.05
55  20240726  26.7  17.9   24.3   26.4   8.8  25.35       298.50
27  20240628  27.2  17.0   25.4   27.2  10.2  26.30       299.45

[92 rows x 8 columns]

Of course, it is also possible to sort them in descending order with ``ascending=False`` parameter:

In [34]:
# Sort DataFrame by temperature, descending
data.sort_values(by="TEMP", ascending=False)

    YEARMODA   MAX   MIN  TEMP1  TEMP2  DIFF   TEMP  TEMP_KELVIN
27  20240628  27.2  17.0   25.4   27.2  10.2  26.30       299.45
55  20240726  26.7  17.9   24.3   26.4   8.8  25.35       298.50
26  20240627   NaN  15.3   22.9   26.9   NaN  24.90       298.05
54  20240725  26.1  18.5   22.3   26.1   7.6  24.20       297.35
25  20240626  25.7  15.9   22.2   25.5   9.8  23.85       297.00
..       ...   ...   ...    ...    ...   ...    ...          ...
7   20240608  17.6   8.9   14.1   17.0   8.7  15.55       288.70
32  20240703  17.4  13.1   14.2   16.6   4.3  15.40       288.55
72  20240812  17.4  12.7   14.7   16.0   4.7  15.35       288.50
35  20240706  19.0  11.3   11.4   18.7   7.7  15.05       288.20
8   20240609  15.5  11.3   12.8   15.4   4.2  14.10       287.25

[92 rows x 8 columns]

## Writing data to a file

Lastly, it is important to be able to write the data that you have analyzed to a file on your computer. This is really handy in pandas as it [supports many different data formats by default](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html).

The most typical output format by far is a CSV file. The function `to_csv()` can be used to easily save your data in the CSV format. Let's first save the data from our `data` DataFrame into a file called `Kumpula_temp_results_Summer_2024.csv`.

In [35]:
# define output filename
output_fp = "Kumpula_temp_results_Summer_2024.csv"

# Save dataframe to csv
data.to_csv(output_fp, sep=",")

Now we have the data from our DataFrame saved to a file:
![Text file output1](img/pandas-save-file-1.png)

As you can see, the first value in the data file now contains the index value of the rows. There are also quite a lot of decimals present in the new columns
that we created. Let's deal with these and save the temperature values from the `warm_temps` DataFrame without the index and with only 1 decimal for the floating point numbers.

In [36]:
# define output filename
output_fp2 = "Kumpula_temp_results_Summer_2024.csv"

# Save dataframe to csv
warm_temps.to_csv(output_fp2, sep=",", index=False, float_format="%.1f")

Omitting the index can be done with the `index=False` parameter. Specifying how many decimals should be written can be done with the `float_format` parameter where the text `%.1f` instructs pandas to use 1 decimal in all columns when writing the data to a file (changing the value 1 to 2 would write 2 decimals, etc.)

![Output after float fomatting](img/pandas-save-file-2.png)

As a result you have a "cleaner" output file without the index column, and with only 1 decimal for floating point numbers.

That's it for this week. We will dive deeper into data analysis with pandas in the Lesson 6.